div.images-list{
    width: 80%;
    text-align: center;
}

.images-list img{
    width: 80%;
    height: 30%;
    margin: 0px auto;
    margin-left: 50px;
}

div.title{
    height: 100px;
    color: red;
    background-color: rgba(94, 99, 28, 0.267);
    position: relative;
    bottom: 450px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#header{
    height: 300px;
    background-color: green;
    margin: 50px;
}
#child{
    height:150px;
    width: 60%;
    background-color: pink;
    position: relative;
    left: 25%;
    top: 25%;
}