#header{
    background-color: rgb(7, 7, 136);
    display: flex;
    height: 50px;
}
.hotline{
    margin-left: 100px;
    width: 20%;
    color: orange;
}
.topheader {
    width: 80%;
    height: 30px;
    text-align: center;
}
.topheader a{
    color: white;
}
#ukflag{
    width: 4%;
    height: 30px;
    
}
#wrapper #header {
    background-color: aqua;
    color: white;
    height: 150px;
    display:flex;
}
#wrapper #body p{
    background-color: rgb(160, 49, 154);
    color: white;
    height: 200px;
    margin: 10px auto;
}
#wrapper #footer {
    background-color: rgb(7, 7, 136);
    color: azure;
    height: auto;
    display: flex;
}

#wrapper #footer h5{
    color: white;
}
#wrapper #footer p{
    color: gray;
}
#wrapper #footer #first{
    width: 30%;
}

#wrapper #footer #main{
    width: 30%;
}

#wrapper #footer #last{
    width: 33,33%;
}
.logo {
    width: 15%;
    font-size: 10px;
}

.menu {
    width: 100%;
    background-color: aqua;
    text-align: center;
}
.menu a{
    margin-right: 100px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}
a { 
    margin-right: 40px;
    text-decoration: none;
    color: purple;
    font-size: 20px;

}