body{
    background-color: #eee;
}
.form{
border: solid gray 1px;
width: 20%;
border-radius: 5px;
margin: 100px auto;
background-color: white;
padding: 50px;
}
.Login{
    border: solid gray 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background-color: white;
    padding: 50px;
}
.form .button{
    color: #fff;
    background-color: #337ab7;
    padding: 5px;
    margin-left: 70%;
}