/* index.html */

#top{
    background-color: rgb(7, 7, 136);
    display: flex;
    height: 50px;
    border-style: solid black;
}
.hotline{
    margin-left: 50px;
    width: 20%;
    color: orange;
    margin-top: 10px;
}
.topheader {
    width: 50%;
    margin-top: 7px;
}
.topheader a{
    color: white;
}
#ukflag{
    margin-left: 10px;
    width: 40px;
    height: 30px;
    
}
#wrapper #header {
    background-color: white;
    color: white;
    height: 130px;
    display: flex;
    margin: 0px 70px;
}
#wrapper #body p{
    background-color: rgb(160, 49, 154);
    color: white;
    height: 200px;
    /* margin: 5px 70px; */
}
#wrapper #end #icon img
{
    width: 100px;
    height: 90px;
}   

#wrapper #end {

    background-color: rgb(7, 7, 136);
    color: azure;
    height: auto;
    display: flex;
    padding: 30px 90px;

}

#wrapper #end h5 {
    color: white;
    font-size: 21px;
    font-family: Arial;
}
#wrapper #end p {
    color: gray;
    font-size: 15px;
    line-height: 0.1;

}
#wrapper #end #first{
    width: 25%;
}

#wrapper #end #main{
    width: 25%;
}

#wrapper #end #last{
    width: 25%;
}

#wrapper #end #icon{
    width: 20%;
}
#wrapper #end #icon img {
    width: 50px;
    height: 41px;
}
.logo {
    width: 22%;
    font-size: 20px;
    height: 135px;
    margin-left: 50px;
}   
.menu {
    width: 70%;
    text-align: center;
    margin: 55px;
}
.menu a {
    margin-right: 100px;
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-left: -22px;
}
a { 
    margin-right: 40px;
    text-decoration: none;
    color: purple;
    font-size: 20px;

}
.navbar navbar-expand-sm navbar-light bg-light
{
    margin-left: 300px;
}

.navbar-nav mr-auto mt-2 mt-lg-0{
    margin-right: 30px;
}
.khoi{
    width: 100%;
    height: 100px;
    background-color: red;

}
.Tintuc{
    margin-top: 10px;
    margin-left:50px;
}
.row{
    text-align: center;
    margin: 0px 20px;
}

.datebg{
    width: 50px;
    height: 50px;
    background-color: blue;
}

/* tintuc1.html */
.wrapper1{
    margin-left: 10%;
    margin-right: 10%;
}
#wrapper #end #icon img
{
    width: 100px;
    height: 90px;
}   

#wrapper #end {

    background-color: rgb(7, 7, 136);
    color: azure;
    height: auto;
    display: flex;
    padding: 30px 90px;

}

#wrapper1 #end1 h5 {
    color: white;
    font-size: 21px;
    font-family: Arial;
}
#wrapper1 #end1 p {
    color: gray;
    font-size: 15px;
    line-height: 0.1;

}
#wrapper1 #end1 #first1{
    width: 25%;
}

#wrapper1 #end1 #main1{
    width: 25%;
}

#wrapper1 #end1 #last1{
    width: 25%;
}

#wrapper1 #end1 #icon1{
    width: 20%;
}
#wrapper1 #end1 #icon1 img {
    width: 50px;
    height: 41px;
}
.tintucimg img{
    width: 20px;
    height: 20px;
}
.body1_container{
    background-color:rgb(7, 7, 136);
    height: 500px;;
}
.body1_container .container{
    text-align: left;
}
.body1_container small{
    color: gray;
}
.body1_container h5{
    color: white
}
.nttlogo{
    width: 190px;
    height: 140px;
    margin-left: 80px;
}
.body1_container .container .row{
    text-align: left;
}

.anhcangiua{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;
}

/*tintuc2*/
.wrapper_gioithieu .container .row .col-sm-3{
    height: 1800px;
}
#DAOTAO1{
    background-color: blanchedalmond;
}